**Tham khảo https://pbpython.com/styling-pandas.html**

# Giới thiệu.
Tạo kiểu cho đầu ra của pandas, các API để giúp thực hiện điều này vấn còn khác mới và đang còn đang trong giai đoạn phát triển. Nó chữa một tập hợp các công cụ hữu dụng cho việc tạo kiểu cho các DataFrames và Series output của pandas. Bài viết này trình bày các ví dụ về cách định dạng các số trong một pandas DataFrame và sử dụng một vài options cho việc minh hoạ để cải thiện khả năng phân tích dữ liệu với pandas.

# Tạo kiểu là gì và tại sao quan tâm?
Ý tưởng căn bản đằng sau việc tạo kiểu là một người dùng muốn thay đổi cách dữ liệu được biểu diễn nhưng vẫn giữ lại định dạng phía dưới cho việc thay đổi sau này.

Ví dụ tạo kiểu đơn giản nhất là sử dụng một biểu tượng tiền tệ khi làm việc với các giá trị tiền tệ. Ví dụ, nếu dữ liệu của bạn chứa giá trị 24.00, bạn không muoons biết ngay lập tức nếu giá trị là ở dạng dollars, pounds, euros hay đơn vị tiền tệ khác. Nếu số đó là $25 khi đó ý nghĩa nó rõ ràng. 

Phần trăm là một ví dụ hữu dụng khác khi định dạng output làm cho nó dễ hiểu hơn phân tích phía dưới. Ví dụ, cái nào sau đây làm ta hiểu nhanh hơn: .0.5 hay 5\% Sử dụng kí hiệu phần trăm làm cho ta dễ phân tích dữ liệu hơn. 

Điều cần nhớ ở đây là làm kiểu biểu diễn dữ liệu vì vậy một con người có thể đọc nhưng nó vẫn giữ cho dữ liệu cùng một kiểu dữ liệu pandas giống như vậy vì vậy bạn có thể thực hiện các phép toán, ngày tháng, chuỗi kí tự trên nó.

Tạo kiểu pandas còn cung cấp thêm nhiều công cụ nâng cao để thêm màu hoặc các thành phần hình hoạ khác cho output.

# Làm kiểu dữ liệu
Hãy bắt đầu bằng việc nhìn vào dữ liệu. Trong ví dụ này chúng ta sẽ sử dụng dữ liệu sales 2018 cho một tổ chức tưởng tượng nào đó. Chúng ta sẽ giả bộ như là một người phân tích tìm kiếm cho các xu thế sales cấp cao cho năm 2018.

In [2]:
import numpy as np
import pandas as pd

df = pd.read_excel("../pbpython/data/2018_Sales_Total.xlsx")
df.head()

,account number,name,sku,quantity,unit price,ext price,date
0,740150,Barton LLC,B1-20000,39,86.69,3380.91,2018-01-01 07:21:51
1,714466,Trantow-Barrows,S2-77896,-1,63.16,-63.16,2018-01-01 10:00:47
2,218895,Kulas Inc,B1-69924,23,90.70,2086.10,2018-01-01 13:24:58
3,307599,"Kassulke, Ondricka and Metz",S1-65481,41,21.05,863.05,2018-01-01 15:05:22
4,412290,Jerde-Hilpert,S2-34077,6,83.21,499.26,2018-01-01 23:26:55

Đối với dữ liệu trên, bạn có thể làm một tổng kết nhanh bao nhiêu khách hàng đã mua từ chúng ta và trung bình lượng mua.

In [3]:
 df.groupby("name")["ext price"].agg(["mean", "sum"])

                                        mean        sum
name
Barton LLC                       1334.615854  109438.50
Cronin, Oberbrunner and Spencer  1339.321642   89734.55
Frami, Hills and Schmidt         1438.466528  103569.59
Fritsch, Russel and Anderson     1385.366790  112214.71
Halvorson, Crona and Champlin    1206.971724   70004.36
Herman LLC                       1336.532258   82865.00
Jerde-Hilpert                    1265.072247  112591.43
Kassulke, Ondricka and Metz      1350.797969   86451.07
Keeling LLC                      1363.977027  100934.30
Kiehn-Spinka                     1260.870506   99608.77
Koepp Ltd                        1264.152927  103660.54
Kuhn-Gusikowski                  1247.866849   91094.28
Kulas Inc                        1461.191064  137351.96
Pollich LLC                      1196.536712   87347.18
Purdy-Kunde                      1469.777547   77898.21
Sanford and Sons                 1391.872958   98822.98
Stokes LLC                       1271.332222   91535.92
Trantow-Barrows                  1312.567872  123381.38
White-Trantow                    1579.558023  135841.99
Will LLC                         1411.318919  104437.60

Khi nhìn vào dữ liệ như trên, rất khó có thể hiểu được mức độ của các số bởi vì bạn có các số có 6 chữ số. Còn nữa, ta không biết được số tiền kia là ở đơn vị tiền tệ nào.

In [9]:
(df.groupby("name")["ext price"].agg(["mean", "sum"]).style.format("${0:,.2f}"))

Sử dụng hàm **format**, bạn có thể sử dụng tất cả các tính năng của các công cụ formating chuỗi văn bản trên dữ liệu này. Trong trường hợp này, chúng ta sử dụng **${0:,.2f}** để đặt dấu dollar vào đầu, thêm dấu hỏi và làm tròn kết quả tới 2 con số thập phân.

Nếu bạn muốn nhìn vào tổng số lượng sales mỗi tháng, bạn có thể sử dụng **grouper** để tổng kết theo tháng và tính toán mỗi tháng như là phần trăm của tổng lượng sales của năm

In [11]:
monthly_sales = df.groupby([pd.Grouper(key='date', freq='M')])['ext price'].agg(['sum']).reset_index()
monthly_sales['pct_of_total'] = monthly_sales['sum'] / df['ext price'].sum()
monthly_sales

         date        sum  pct_of_total
0  2018-01-31  185361.66      0.091818
1  2018-02-28  146211.62      0.072426
2  2018-03-31  203921.38      0.101012
3  2018-04-30  174574.11      0.086475
4  2018-05-31  165418.55      0.081940
5  2018-06-30  174089.33      0.086235
6  2018-07-31  191662.11      0.094939
7  2018-08-31  153778.59      0.076174
8  2018-09-30  168443.17      0.083438
9  2018-10-31  171495.32      0.084950
10 2018-11-30  119961.22      0.059423
11 2018-12-31  163867.26      0.081171

Ta biết cáhc để tạo kiểu các số nhưng bây giờ ta có một sự kết hợp ngày tháng, phần trăm và tiền tệ. May mắn là chúng ta có thể sử dụng một tự điển để định nghĩa một formatting string duy nhât cho mỗi column. Điều này sẽ giúp ích được ta rất nhiều.

In [17]:
format_dict = {'sum':'${0:,.0f}', 'date': '{:%Y}', 'pct_of_total': '{:.2%}'}
monthly_sales.style.format(format_dict).hide_index()

Khi ta phát triển report cuối cùng, có một kiểu format như vậy sẽ rất hữu dụng. Trong ví dụ trên ta khoong thấy các index vì đã sử dụng hàm **hide_index**.

Ngoài việc tạo kiểu cho số, ta có thể tạo kiểu cho các cells trong DataFrame. Nào hãy cùng highlght số lớn nhất màu xanh và số nhỏ nhất màu Trinidad.

In [19]:
(monthly_sales
 .style
 .format(format_dict)
 .hide_index()
 .highlight_max(color='lightgreen')
 .highlight_min(color='#cd4f39'))

Một hàm hữu dụng khác là **background_gradient** dùng để highlight dải dải trị trong một cột.

In [20]:
(monthly_sales.style
 .format(format_dict)
 .background_gradient(subset=['pct_of_total'], cmap='BuGn'))

Ví dụ phía trên cho ta biết được cách sử dụng của parameter **subset** để áp dụng các hàm tới chỉ một cột đơn lẻ của dữ liệu. Ngoài ra, tham số **cmap** cho phép chúng ta chọn một màu bảng màu cho khuynh độ.

# Tạo kiểu với Bars
Hàm tạo kiểu còn hỗ trợ việc vẽ các bar charts bên trong mỗi cột

In [21]:
(monthly_sales
 .style
 .format(format_dict)
 .hide_index()
 .bar(color='#FFA07A', vmin=100_000, subset=['sum'], align='zero')
 .bar(color='lightgreen', vmin=0, subset=['pct_of_total'], align='zero')
 .set_caption('2018 Sales Performance'))

Trong ví dụ trên ta có thể dùng cả đặt caption cho hình sử dụng hàm **set_caption**